.header__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("../../sass/layout/Background_Header.jpg");
  background-color: #000000;
  background-size: cover; }
  .header__content a,
  .header__content a:hover,
  .header__content a:focus,
  .header__content a:active {
    text-decoration: none;
    color: inherit; }
  .header__content i {
    margin: 0.7rem;
    border-radius: 40%; }
  .header__content .header__titlename {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 4.5rem;
    color: #ffffff; }
  .header__content .header__know {
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    align-self: center;
    color: #ffffff;
    background: rgba(0, 0, 0, 0);
    padding: 2rem 4rem 2rem 4rem;
    border-width: 0.3rem;
    border-color: #ffffff;
    border-style: solid;
    border-spacing: 0.3rem;
    margin: 3rem; }
    .header__content .header__know:hover {
      background-color: rgba(0, 0, 0, 0.3); }
  .header__content .header__socialmedia {
    text-align: center;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 2rem;
    border-width: 0.3rem; }
    .header__content .header__socialmedia a {
      border-radius: 40%; }
    .header__content .header__socialmedia a:hover {
      transition: 0.3s;
      color: black;
      background-color: #ffffff;
      border-color: #ffffff; }

* {
  margin: 0%;
  padding: 0%; }
