@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap");
* {
  margin: 0%;
  padding: 0%; }

body {
  font-family: Montserrat, sans-serif; }

.header {
  min-height: 100vh;
  background: url("../assets/img/bg.png"), black;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .header__logo {
    display: block;
    height: 15rem;
    margin: 0 auto;
    padding: 1rem 0; }
  .header__title {
    text-align: center;
    color: white;
    font-size: 3.5rem;
    font-weight: 600; }
    @media (max-width: 37.5em) {
      .header__title {
        font-size: 2rem; } }
  .header__subtitle {
    color: #b1b5b7;
    text-align: center;
    font-size: 1.69rem;
    margin-bottom: 2rem; }
    @media (max-width: 37.5em) {
      .header__subtitle {
        font-size: 1.3rem; } }
  .header__button {
    text-align: center;
    margin: 2rem;
    margin-bottom: 4rem; }
    .header__button a {
      color: white;
      padding: 0.5rem 1rem;
      border: 3px solid white;
      font-size: 1.25rem;
      text-transform: uppercase;
      text-decoration: none; }
  .header__socials {
    text-align: center;
    margin-top: 2rem; }
    .header__socials__icon {
      color: white;
      font-size: 1.75rem;
      margin: 0 0.5rem; }
