// SASS variables go here
$accent-color: #ee6f57;
// backgrounds
$background-dark: #111111;
$background-dark-hover: #1d1d1d;
$background-dark-secondary: #0c0c0c;
// text
$heading: $accent-color;
$heading-sub: #52575d;
$text-grey: #cec6c6;
