.header {
  min-height: 100vh;
  background: url("../assets/img/bg.webp"), black;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    display: block;
    height: 15rem;
    margin: 0 auto;
    padding: 1rem 0;
  }

  &__title {
    text-align: center;
    color: white;
    font-size: 3.5rem;
    font-weight: 600;

    @include responsive(phone) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    color: #b1b5b7;
    text-align: center;
    font-size: 1.62rem;
    margin-bottom: 2rem;

    @include responsive(phone) {
      font-size: 1.4rem;
    }
  }

  &__button {
    text-align: center;
    border-radius: 0rem;
    margin-bottom: 2rem;
    transition: 0.3s;
    color: white;
    padding: 0.5rem 1rem;
    border: 3px solid white;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      background: white;
      color: black;
      transform: translateY(-5px);
    }
  }

  &__socials {
    text-align: center;
    margin-top: 2rem;

    &__icon i {
      color: white;
      font-size: 1.75rem;
      margin: 0 0.5rem;
      transition: all 0.3s;

      &:hover {
        color: #6e6960;
      }
    }
  }
}
