.form__container {
  background-color: $background-dark;
  max-width: 100vw;
  height: 80vh;
  display: flex;
  box-sizing: border-box;
  @include responsive(tablet-portrait) {
    max-width: 100%;
    height: 100vh;
  }

  @include responsive(phone) {
    max-width: 100vw;
    height: 100vh;
  }

  & img {
    max-width: 50%;
    vertical-align: center;
    padding-top: 1rem;
  }
  & .container {
    padding-top: 1rem;
  }
}

input[type="text"],
textarea {
  width: 80%;
  padding: 0.5rem;
  margin-top: 0.65rem;
  margin-bottom: 1rem;
  resize: none;
  box-sizing: border-box;
  color: white;
}
#query {
  width: 80%;
  vertical-align: middle;
}
label {
  color: white;
  width: 5rem;
}

.form__submit {
  background-color: $heading-sub;
  color: white;
  padding: 0.2rem 0.5rem;
  border: none;
  cursor: pointer;
  align-items: center;
  width: 5rem;
}

.form__submit:hover {
  color: $background-dark-hover;
  background-color: white;
}

.column {
  float: left;
  width: 50%;
  margin-top: 0.312rem;
  padding: 1rem;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
