.team {
  background-color: $background-dark-secondary;
  padding-bottom: 3rem;
  .card {
    max-width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 2.19rem 4.37rem;
    border-color: $background-dark-secondary;
    margin-bottom: 2.5rem;

    @include responsive(tablet-portrait) {
      max-width: 10rem;
      height: 10rem;
      margin-bottom: 2.5rem;
    }

    @include responsive(phone) {
      max-width: 15rem;
      height: 15rem;
      margin: 0 auto;
      margin-bottom: 2.5rem;
    }

    &-img-overlay {
      background-color: rgba(0, 0, 0, 0.75);
      width: 100%;
      opacity: 0;
      object-fit: cover;
      position: absolute;
      transition: 0.3s;

      & div.card-text {
        position: absolute;
        width: 100%;
        bottom: -1rem;
        transition: 0.3s;
      }

      &:hover {
        opacity: 1;
        & div.card-text {
          transform: translateY(-4rem);

          @include responsive(tablet-portrait) {
            transform: translateY(-1rem);
          }

          @include responsive(phone) {
            transform: translateY(-4rem);
          }
        }
      }
    }
    &-deck {
      margin-bottom: 2.5rem;
      width: 100%;
      margin: 0 auto;
    }
    &-img {
      border-radius: 2.19rem 4.37rem;
      width: 100%;
    }
  }
}
