.team {
  background-color: $background-dark-secondary;
  .card {
    margin: 0 auto;
    max-width: 11.8rem;
    max-height: 11.8rem;
  }
}
// .team {
//   background-color: #0c0c0c;
//   background-size: cover;
//   & .team__container {
//     & .team__box {
//       width: 11.8rem;
//       height: 11.8rem;
//       display: inline-block;
//       border-radius: 2.19rem 4.37rem;
//       & .team__images {
//         overflow: hidden;
//         border-radius: 2.19rem 4.37rem;
//         height: 100%;
//         max-width: 100%;
//         resize: inherit;
//         &:hover {
//           opacity: 0.2;
//           transition: transform 0.4s;
//         }
//       }
//     }
//   }
//   & .team__container .team__box:hover .team__images img {
//     opacity: 0.1;
//   }

//   & .team__container .team__box .team__details {
//     transform: scaleY(0);
//     transition: transform 0.4s;
//   }

//   & .team__container .team__box:hover .team__details {
//     transform: scaleY(1);
//     border-radius: 2.19rem 4.37rem;
//   }

//   & .team__container .team__box .team__details .team__content {
//     transform: translateY(-170%);
//     padding: 0.94rem;
//     color: #ffffff;
//     & p {
//       margin: 0.62rem 0 0;
//       padding: 0;
//       text-align: center;
//     }
//   }
// }
